@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* { /* Reseting HTML */
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
}

#container { /* Container for buttons */
    position: absolute;
    height: auto;
    top: 50%;
    right: -50%;
    border-radius: 5px;
    background: transparent !important;
    transform: translateY(-50%);
}

#buttons { /* Group for buttons */
    max-height: 75vh;
    width: 16.5vw;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
}

html, body { /* Don't show a white background */
    background: transparent !important;
}

#buttons::-webkit-scrollbar { /* Make the scrollbar invisible */
    display: none;
}

body::-webkit-scrollbar { /* Make the scrollbar invisible */
    display: none;
}

.button { /* Design for button */
    width: auto;
    max-width: 100%;
    height: 10%;
    background: var(--background);
    color: var(--text-color);
    margin: auto;
    position: relative;
    top: 10%;
    overflow: hidden;
    padding: 0.45rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0.0rem 0.0rem 0.1rem 0.05rem #3E4484;
    transition: 0.2s;
}

.button#\30 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.button:hover { /* When player hover a button */
    background-color: var(--hover-background);
    transition: 0.2s;
}

.button > .text { /* Text on buttons */
    flex-direction: column;
    font-size: 0.775rem;
    overflow: hidden;
}

.button > .header { /* Bold header for better understanding */
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: var(--text-color);
    font-size: 1.0rem;
    overflow: hidden;
    font-weight: 500;
}
